<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <title>Admin dashboard</title>
  </head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <body>
    <div class="header-container">
      <h2 th:text="|Conversations (${conversationCount} entries)|" />
      <div class="profile-info" sec:authorize="isAuthenticated()">
        <img
          th:src="${profile.get('picture')}"
          th:attr="alt=${profile.get('name')}"
        />
        <div class="email-logout">
          <p th:text="${profile.get('name')}"></p>
          <form name="logoutForm" th:action="@{/logout}" method="post">
            <button type="submit">Log out</button>
          </form>
        </div>
      </div>
    </div>
    <div class="table-container">
      <table class="conversations-list-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Github repo</th>
            <th>Github issue ID</th>
            <th>Created</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${data}">
            <td>
              <a th:href="|/admin/conversations/${item.id}|">
                <span class="convo-id" th:text="${item.id}" />
              </a>
            </td>
            <td th:text="${item.repoName}"></td>
            <td th:text="${item.issueId}"></td>
            <td>
              <div
                class="badge badge-timestamp"
                th:text="${#temporals.format(item.getCreatedAt(), 'dd MMMM yyyy HH:mm:ss')}"
              />
            </td>
            <td>
              <div th:switch="${item.status.toString()}">
                <div
                  th:case="'IN_PROGRESS'"
                  class="badge badge-conversation-in-progress"
                  th:text="${item.status.toString().replace('_', ' ')}"
                ></div>
                <div
                  th:case="'COMPLETED'"
                  class="badge badge-conversation-completed"
                  th:text="${item.status.toString().replace('_', ' ')}"
                ></div>
                <div
                  th:case="'FAILED'"
                  class="badge badge-conversation-failed"
                  th:text="${item.status.toString().replace('_', ' ')}"
                ></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
