<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <head>
    <title>Admin dashboard</title>
  </head>
  <body>
    <h2>Unauthorised</h2>
    <div class="profile-info" sec:authorize="isAuthenticated()">
      <img
        th:src="${profile.get('picture')}"
        th:attr="alt=${profile.get('name')}"
      />
      <div class="email-logout">
        <p th:text="${profile.get('name')}"></p>
        <form name="logoutForm" th:action="@{/logout}" method="post">
          <button type="submit">Log out</button>
        </form>
      </div>
    </div>
  </body>
</html>
