.structurizr-form-container {
  justify-content: center;
}

.structurizr-form {
  display: grid;
  column-count: 1;
  gap: 1em;
  width: 80%;
  margin: 1lh auto 3lh;
}

.form-label {
  font-size: 16pt;
  color: white;
  background-color: cornflowerblue;
  padding: 5px;
  border-radius: 5px;
}

.structurizr-submit-button {
  cursor: pointer;
  width: fit-content;
  justify-self: center;
  font-size: 16pt;
  padding: 5px 10px;
  color: whitesmoke;
  background-color: cornflowerblue;
  border-radius: 5px;
  border: none;

  &:hover,
  &:focus {
    background-color: steelblue;
  }
}

.structurizr-text-input {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  font-family: monospace;
  font-size: 12pt;
}

.structurizr-textarea {
  resize: none;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  height: 40vh;
  max-height: 45lh;
  font-family: monospace;
  font-size: 12pt;
}

.error-message {
  color: red;
}

.input-invalid {
  border: 2px solid red;
}

.success-group {
  font-size: 32pt;
  justify-content: center;
  justify-self: center;
  margin: 1em auto auto 1em;
}
