<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <link
    rel="stylesheet"
    href="../static/css/main.css"
    th:href="@{/css/main.css}"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <head>
    <title>Admin dashboard</title>
  </head>
  <body>
    <h2>Something went wrong!</h2>
    <div class="exception-container">
      <p th:text="${error}" class="exception-class">My error class</p>
      <p th:text="${message}" class="exception-message">Some error message</p>
      <a href="/admin/conversations" class="button button-home">
        <i class="fa fa-home"></i>
      </a>
    </div>
  </body>
</html>
