<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Admin dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../static/css/main.css"
      th:href="@{/css/main.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../static/css/manual_structurizr_form.css"
      th:href="@{/css/manual_structurizr_form.css}"
    />
  </head>
  <body>
    <div class="success-group">
      Success!
      <a href="/admin/conversations" class="button button-home">
        <i class="fa fa-home"></i>
      </a>
    </div>
  </body>
</html>
