name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions: write-all

jobs:
  gradle-tests:
    name: Build and run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Check formatting
        run: ./gradlew --no-daemon spotlessCheck
      - name: Generate JOOQ classes
        run: ./gradlew --no-daemon generateJooq
      - name: Run tests
        id: tests
        continue-on-error: true
        run: ./gradlew --no-daemon test
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: steps.tests.outcome == 'failure' || steps.tests.outcome == 'success'
        with:
          name: Gradle tests
          path: ./build/test-results/*/*.xml
          reporter: java-junit